
.container{
    text-align: center;
    width: 80vw;
    height: 80vh;
    /* background-color: aqua; */
    margin: auto;
}
.container h1{
    font-size: 3em;
    text-decoration: underline;
    color:brown;
}
.form_space{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 60vh;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    box-shadow: 5px 3px 15px;
    /* background-color: aquamarine; */
}
#logIn_form label{
    float: left;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.form_space input{
    width: 40vw;
    height: 40px;
    margin: 15px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: aliceblue;
}
#logIn_form button{
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}
.anchor_links{
    margin-top: 20px;
    
    
}
.anchor_links a{
    
    text-decoration: none;
    color:rgb(250, 204, 149);
    /* background-color: black; */
}